body {
     background-image: url(./student.jpg)
}
body {https://upload.wikimedia.org/wikipedia/commons/3/39/C_Hello_World_Program.png)
}
h1 {
     font-size: x-large;
     color: gold;
     text-align: left;
     
}
.text {
     text-align: center;
}
.section {
     background-color: orange;
     background-image: url(../../../../index.css)
}

* {
     margin: 0cm; padding-left: 0cm;
     margin-top: 0cm; border 0cm; 
}
/* shortcut */
/* margine: 0 o 0 0 ; up right down left */